.activeSpan {
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
  transition: 0.2s;
}
.filters span {
  cursor: pointer;
}
.text-capitalize {
  text-align: center;
  color: red;
}